.categories { 
    margin-top: 80px; 
}

.categories nav{
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 1200px;
}

@media (max-width: 1100px) {
    .categories nav{
        width: 675px;
    }
  }

.tab{
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    text-align: center;
    width: 600px;
    border-bottom: 1px solid #dee2e6;
    color: #dee2e6;
    outline:none;
}

nav a:hover{
    color: blue;
}

.active {
    border-color: blue;
    color: blue;
}

.fade{
    display: none;
}

.show{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.tabContent{
    display: flex;
    justify-content: center;
}