.header{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.header svg {
    width: 70px;
    padding-right: 1em;
    cursor: pointer;
}

.header a { 
    width: 1200px;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    cursor: default;
}

@media (max-width: 1000px) {
    .header svg {
        width: 50px;
        padding-left:30px;
    }

  }