header{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

header svg {
    width: 70px;
    padding-right: 1em;
}

header a { 
    width: 950px;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}