.inputGroup {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.inputGroup input {
    width: 800px;
    border-radius: 50px 0 0 50px;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: #d2d2d2;
    
}

.inputGroup input:focus{
    border: 2px solid;
    border-color: rgb(138, 163, 238);
    background-color: #ffffff; 
    outline:none;
}

.inputGroup button {
    padding: 0.5em 1.5em;
    border-radius: 0 50px 50px 0;
    font-size: 1.5em;
    border-color: #1691dd;
    background-color: #1691dd;
    color: #ffffff; 
    border: none;
    outline:none;
}

